body{
  background-color: thistle;
  margin: 4%;

}

h1{
border-bottom: 25px;
color: #1E184B;
font-family: palatino;
font-size:40px;
}

h2{
color: #1E184B;
font-family: palatino;
font-size: 20px;
}

ul{
margin: 2%
}

li{
border-bottom:10px;
color:midnightblue;
font-family:palatino;


}
